/* GENERAL */


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    background-color:#EEEEEE ;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;

}

p {
    color: rgb(85, 85, 85);
}

/* TRANSITION */

.btn-2, .btn-1{
    position: relative;
    width: 120px;
    height: 40px;
    background-color: #000;
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    justify-content: center;
    border: none;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  /* .btn-2::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -4px;
    top: -1px;
    margin: auto;
    width: 128px;
    height: 48px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .btn-2::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  
  .btn-2:hover::after {
    filter: blur(30px);
  }
  
  .btn-2:hover::before {
    transform: rotate(-180deg);
  }
  
  .btn-2:active::before {
    scale: 0.7;
  }
  
  .btn-1::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -4px;
    top: -1px;
    margin: auto;
    width: 128px;
    height: 48px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .btn-1::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  
  .btn-1:hover::after {
    filter: blur(30px);
  }
  
  .btn-1:hover::before {
    transform: rotate(-180deg);
  }
  
  .btn-1:active::before {
    scale: 0.7;
  } */

/*  */
  
a, 
.btn{
    transition: all 300ms ease;
}

/* DESKTOP NAV */

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;

}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}


/* HAMBURGER MENU */

#hamburger-nav {
    display: none;
    height: 5rem;
}

.hamburger.menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 35px;
    cursor: pointer;
} 

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 15%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;

}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

/* SECTIONS */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    padding-top: 3rem;
    display: flex;
}

/* PROFILE SECTION */ 

.btn-container-profile{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    gap: 1rem;
}
/* BUTTON GITHUB */
.Btn-3 {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s;
  }
  
  .svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all .3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
  }
  
  .BG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #181818;
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    transition: all .3s;
  }
  
  .Btn-3:hover .BG {
    transform: rotate(35deg);
    transform-origin: bottom;
  }
  
  .Btn-3:hover .svgContainer {
    background-color: rgba(156, 156, 156, 0.466);
    backdrop-filter: blur(4px);
  }
  
/* BUTTON INSTAGRAM */
.Btn-4 {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s;
  }
  
  .svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(4px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all .3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
  }
  
  .BG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #181818;
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    transition: all .3s;
  }
  
  .Btn-4:hover .BG {
    transform: rotate(35deg);
    transform-origin: bottom;
  }
  
  .Btn-4:hover .svgContainer {
    background-color: rgba(156, 156, 156, 0.466);
  }
  

#profile {
    display: flex;
    margin: 0 20rem;
    gap: 3rem;
    height: 80vh;
}

.section__pic-container {
    padding-left: 2rem;
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0 ;
    
}

.profile__pic {
    
    border-radius: 1rem;
}

.section__text {
    padding-right: 5rem;
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    font-size: 1.25rem;
    text-align: center;
}

.section__text__p-1 {
    font-size: 1.25rem;
    text-align: center;
}

.section__text__p2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.tittle {
    font-size: 3rem;
    text-align: center;
}

.title-profile {
    display: inline-block;
    text-align: center;
    font-size: 3rem;
    border-right: 2px solid;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1s steps(30, end), blink-caret 0.75s step-end infinite;
    margin: 0 auto; /* Pusatkan elemen */
  }
  
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
  }
  

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding-left: 7rem;
    padding-right: 7rem;
    gap: 1rem;
}

/* ICONS */

.icon {
    cursor: pointer;
    height: 2 rem;
}

/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
    background:rgb(53, 53, 53);
    color: white;
}

.btn-color-1:hover {
    background: white;
    color: black;
}

.btn-color-2 {
    background: none;
}

.btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
    gap: 1rem;
}

/* ABOUT SECTION */

#about {
    position: relative;
}

.about-container {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.icon{
    height: 50px;
    width: 50px;
}

.icon-profile{
    padding-left: 15.5rem;
    padding-bottom: 1rem;
    height: 50px;
    width: 50px;
}

.about-container,
.about-details-container {
    display: flex;
    
}

.text-container_2 {
    text-align: center;
}

.about-pic {
    filter: grayscale(100%);
    border-radius: 2rem;
    height: 450px;
    width: 450px;
}

.arrow {
    position: absolute;
    right: -8rem;
    bottom: 2.5rem;
    height: 50px;
    width: 50px;
}

.details-container {
    padding: 1rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

.section-container {
    gap: 4rem;
    height: 80%;
    flex-direction: column;
}

.section__pic-container{
    height: 400px;
    width: 300px;
    margin: auto;
}

.text-container {
    padding-top: 1rem;
    padding-left: 20rem;
    padding-right: 20rem;
    text-align: center;
}

/* EXPERIENCE SECTION */

.about-containers {
    display: flex;
    gap: 2rem;
    padding-top: 2rem;
}

#experience {
    position: relative;
}

.experience-sub-title {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
    

}

article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon{
    cursor: default;
}

/* PROJECTS */

#projects {
    position: relative;
}

.color-container {
    border-color: rgb(163, 163, 163);
    background:rgb(250, 250, 250);
}

.project-img {
    border-radius: 2rem;
    width: 20rem;
    height: 17rem;
}

.project-img-1 {
    border-radius: 2rem;
    width: 20rem;
    height: 17rem;
}

.project-img-2 {
    border-radius: 2rem;
    width: 20rem;
    height: 17rem;
}

.project-title {
    margin: 1rem;
    color: black;
}

.project-btn {
    color: black;
    border-color: rgb(163, 163, 163);
}

/* CONTACT */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
}

.contact-icon {
    cursor:default ;
}

/* FOOTER SECTION */

footer {
    height: 26vh;
    margin: 0 1rem;
}

footer p {
    text-align: center;
}


/* SECTION SERTIFIKAT */

.carousel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.carousel {
    width: 700px;
    position: relative;
    overflow: hidden;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.2);
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
}

img {
    width: 100%;
    display: block;
}

/* Tombol Next dan Prev menggunakan btn-5 */
.btn-5 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
}

.btn-5:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
